@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}


/*Global CSS*/

body {
    padding: 0px;
    margin: 0px;
    font-family: Poppins !important;
    height: auto;
}

* ul li,
a {
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0px;
}

.padding0 {
    padding: 0;
}

.margin0 {
    margin: 0;
}

.bold {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins !important;
}

.headingh1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
}

.headingh2 {
    font-size: 40px;
    font-weight: 700;
}

.headingh3 {
    font-size: 36px;
    font-weight: 600;
}

.headingh5 {
    font-size: 16px;
    font-weight: 600;
}

.headingh6 {
    font-size: 18px;
    font-weight: 600;
}

.btn:active,
.btn.active,
.btn:focus,
.btn.focus,
.btn:hover {
    color: #fff;
    background-color: #fa09a7;
    border-color: #fa09a7;
    box-shadow: 0px 2px 20px 0.2rem rgb(250 9 167 / 22%);
}


/*   Global CSS Ends  */


/*   HEADER CSS   */

.menu_container {
    display: none !important;
}

@media screen and (max-width: 992px) {
    .menu_container {
        display: block !important;
    }
}

nav {
    transition: all 0.5s;
    z-index: 0;
    /*box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);*/
}

.navbar-brand {
    width: 70px;
    transition: all 0.3s ease-in-out;
}

ul li {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.nav-item {
    color: #dcacc3;
    padding-top: 4px;
}

.nav-item.nav_signup {
    padding-top: 0;
}

.nav-item a.nav-link {
    padding: 0 0.5rem!important;
}

#header-sticky-wrapper.sticky-wrapper.fixed-top.is-sticky.active nav .navbar-brand {
    /* width: 90px; */
    transition: all 0.3s ease-in-out;
}

nav .nav-item a.nav-link:focus,
.navbar-light .navbar-nav .nav-link:focus {
    color: #FA09A7;
}

nav li.nav-item:hover {
    color: #FA09A7;
}

ul.navbar-nav li.nav-item.nav_icon:hover a:after {
    border: 0 !important;
}

ul.navbar-nav li:last-child:hover:after {
    border: 0 !important;
}

.search_item input:hover .search_icon {
    z-index: 99999;
}

nav .nav-item:hover #navbarResponsive ul>i {
    display: block;
}

.navbar-light .navbar-nav a.nav-link {
    z-index: 0;
    font-family: Poppins;
    color: #FA09A7;
    font-weight: 500;
    cursor: pointer;
}

.navbar-light .navbar-nav {
    /* margin-top: 8px; */
    display: flex;
    justify-content: center;
    justify-items: center;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: #fa09a683;
    color: #fa09a7;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

nav.navbar.shrink {
    min-height: 10px;
    background: #ffffff;
}

nav.navbar {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: transparent;
    padding: 0;
}

nav .navbar-toggler-icon {
    font-size: 120%;
    padding: 2px;
}

nav.shrink .navbar-toggler-icon {
    font-size: 90%;
    padding: 2px;
    border: none !important;
}

nav.shrink .navbar-toggler {
    padding: 4px 5px;
    margin: 8px 0;
    background: #fa09a7;
    border: none !important;
}

nav.shrink .navbar-brand {
    width: 50px;
    padding: 0;
    margin: 0;
}

nav.navbar.shrink ul a.nav-link {
    color: #363636;
}

nav.navbar.shrink ul li:hover a.nav-link {
    color: #FA09A7;
}


/* styles for new MENU BTN  */

.navbar-toggler {
    display: none;
}

.menu_container {
    display: inline-block;
    cursor: pointer;
    border: none;
}

.bar1,
.bar2,
.bar3 {
    height: 5px;
    background-color: #FA09A7;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 30px;
}

.bar1 {
    width: 35px;
}

.bar2 {
    width: 25px;
    margin-left: 10px;
}

.bar3 {
    width: 32px;
    margin-left: 3px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    background: #FA09A7;
    background: #fff;
    text-align: center;
    line-height: 40px;
}

#header-sticky-wrapper {
    background: #fff;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
}

#header-sticky-wrapper.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

header nav ul li button {
    padding: 0.3rem 1.3rem;
}

.btn_signup {
    background: #FA09A7;
}

.btn_hireus {
    background: #fff;
    color: #FA09A7;
    border: 1px solid #FA09A7;
    padding: 0.4rem 1.2rem;
}

.btn.btn_hireus:active,
.btn.btn_hireus.active,
.btn.btn_hireus:focus,
.btn.btn_hireus.focus,
.btn.btn_hireus:hover {
    color: #fff;
    background-color: #fa09a7;
    border-color: #fa09a7;
    box-shadow: 0px 2px 15px 0.2rem rgb(250 9 167 / 22%);
}


/*   HEADER CSS Ends  */

#Banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 90px;
    /* background-image: url(../images/header.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    color: #FA09A7;
}

p.banner_inner_parah {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding: 18px 55px 60px 0px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.n_banner_btn {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 29, 0.14) !important;
    /* background-image: linear-gradient(to right, rgb(74, 119, 244) 0%, rgb(0, 186, 222) 51%, rgb(74, 119, 244) 100%); */
    background-image: linear-gradient(to right, rgb(250, 9, 167) 0%, rgb(0, 186, 222) 51%, rgb(250, 9, 167) 100%);
    background-size: 200% auto;
    padding: 18px 33px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    transition: all 0.3s linear;
}

.n_banner_btn:hover {
    background-position: right center;
    color: #fff;
}

#Banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 90px;
}

#Banner .banner_cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 0;
}

#Banner .banner_inner {
    height: 640px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-family: "Poppins", sans-serif;
}

#Banner .banner_inner .dots02 {
    position: absolute;
    bottom: 0%;
    left: -28%;
    width: 100%;
    max-width: 100px;
}

#Banner .banner_inner .dots01 {
    position: absolute;
    top: 16%;
    left: 85%;
    width: 100%;
    max-width: 110px;
}

#Banner .banner_inner .ellipse01 {
    position: absolute;
    top: 28%;
    left: 51%;
    width: 100%;
    max-width: 70px;
}

#Banner .banner_inner p:first-child {
    cursor: pointer;
}

#Banner .banner_inner p .play_icon {
    display: inline-block;
    width: 100%;
    max-width: 55px;
    margin-left: -4px;
    transition: all 0.3s ease-in;
}

#Banner .banner_inner .header_des {
    position: relative;
    margin-top: 15px;
}

#Banner .banner_inner .header_des .dashed_line {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    max-width: 120px;
}

#Banner .banner_inner p .play_icon:hover,
#Banner .banner_inner p:hover .play_icon {
    box-shadow: 0px 0px 146px 0rem rgb(216 216 216 / 71%);
    transform: scale(1.1);
}

#Banner .banner_inner h1 {
    color: #FA09A7;
    font-family: Poppins-Bold !important;
    font-size: 56px;
    line-height: 80px;
}

#Banner .banner_inner p.banner_inner_parah {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding: 18px 55px 60px 0px;
    max-width: 700px;
    width: 100%;
    text-align: left;
}

.header_getdemo {
    position: relative;
    margin-right: 25px;
}

.header_getdemo input {
    display: inline-block;
    position: absolute;
    width: 100%;
    /* max-width: 385px; */
    padding: 10px 24px;
    padding-left: 10px;
}

.btn_getfreedemo {
    position: absolute;
    right: 0px;
    padding: 10px 24px;
    border-radius: 0 8px 8px 0;
    color: #fff;
    display: inline-block;
    background: #FA09A7;
}

.header_right_imgcover {
    position: relative;
}

.header_right_imgcover img {
    width: 100%;
    position: absolute;
    max-width: 700px;
    right: -75px;
    top: 85px;
    transform: scale(1.2);
}


/* Header Ends */


/* BRANDS Starts */

#Brands {
    padding: 1rem 0;
    color: #FA09A7;
}

#Brands .brands_head {
    position: relative;
}

#Brands .brands_head h2 {
    text-align: center;
}

#Brands .brands_head .wheel01 {
    position: absolute;
    top: -76%;
    right: 5%;
    width: 100%;
    max-width: 140px;
    z-index: 3;
}

#Brands .brands_content_outer {
    padding: 3rem 0;
}

#Brands .brands_content {
    padding: 2rem 3.5rem;
    background: #fff;
    border: 2px dashed #FA09A7;
    border-radius: 10px;
    box-shadow: 0px 0px 38px #e8e8e8;
    box-shadow: 0 15px 30px 0 rgb(250, 9, 167, 0.5);
    box-shadow: 0 15px 30px 0 rgb(142 142 142 / 42%);
}

#Brands .brands-carousel .owl-stage-outer {
    width: 100%;
    padding: 0;
}

#Brands .brands-carousel .brand-item {
    border: 1px solid #ddd;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 210px;
}

#Brands .brands-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
}

#Brands .brands-carousel .owl-nav {
    display: block;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#Brands .brands-carousel .owl-nav .owl-prev {
    position: absolute;
    font-size: 35px;
    left: -52px;
    padding: 0 14px !important;
    bottom: 64px !important;
    transition: all 0.3s ease-in;
}

#Brands .brands-carousel .owl-nav .owl-next {
    position: absolute;
    font-size: 35px;
    right: -52px;
    padding: 0 14px !important;
    bottom: 64px !important;
    transition: all 0.2s ease-in;
}

#Brands .brands-carousel .owl-nav .owl-next:hover,
#Brands .brands-carousel .owl-nav .owl-prev:hover {
    background: #FA09A7;
}

#Brands .brands-carousel .owl-nav .owl-next:focus,
#Brands .brands-carousel .owl-nav .owl-prev:focus {
    outline: none;
}


/* BRANDS Ends */


/* Experience True Starts */

#ExperienceTrue {
    padding: 1rem 0;
    color: #FA09A7;
}

#ExperienceTrue .expTrue_head {
    position: relative;
}

#ExperienceTrue .expTrue_head>img {
    position: absolute;
    top: 40px;
}

#ExperienceTrue .expTrue_head .dashed_line01 {
    right: 0;
}

#ExperienceTrue .expTrue_head .dashed_line02 {
    left: 0;
}

#ExperienceTrue .expTrue_head h2 {
    text-align: center;
}

#ExperienceTrue .expT_content {
    padding: 3rem 0;
}

.expT_content_outer .expT_content .expT_box_common {
    text-align: center;
}

.expT_content .expT_box_common h3 {
    font-size: 55px;
    font-family: Poppins-Bold !important;
    color: #707070;
    margin-bottom: 16px;
}

.expT_content .expT_box_common p {
    font-weight: 600;
}


/* Experience True Ends */


/* OUR SERVICES Starts */

#ourServices {
    color: #FA09A7;
}

#ourServices {
    padding: 2rem 0;
}

#ourServices .ourService_outer {
    border-radius: 15px;
}

#ourServices .ourService_outer .service_col_1 {
    position: relative;
    padding: 3rem 1rem;
    padding-bottom: 0;
}

#ourServices .ourService_outer .service_col_1 img.vline {
    position: absolute;
    top: -6%;
    left: 50%;
    z-index: -1;
    height: 120%;
    opacity: 0.4;
    width: 2px;
}

#ourServices .ourService_outer .service_col_2 {
    position: relative;
    padding: 35% 1rem;
}

#ourServices .ourService_outer .service_col_2 img.vline {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: -1;
    height: 95%;
    opacity: 0.4;
    width: 2px;
}

#ourServices .service_box {
    padding: 2rem;
    border: 1.5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 7px 21px 0 rgba(0, 0, 0, .1);
    margin-bottom: 4rem;
    transition: all 0.2s ease-in-out;
    background: #ffffff;
}

#ourServices .service_box:first-child {
    padding-bottom: 0;
}

#ourServices .service_col_1 .service_box:last-child img {
    position: relative;
    margin-left: -30px;
}

#ourServices .service_col_2 .service_box:last-child img {
    position: relative;
    margin-left: 60px;
    width: 100%;
    max-width: 185px;
    margin-top: -20px;
}

#ourServices .service_box h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 22px;
}

#ourServices .service_box p {
    color: #707070;
    font-size: 15px;
}

#ourServices .service_box:hover {
    border: 1.5px dashed #FA09A7;
    cursor: pointer;
}


/* // col 3 */

#ourServices .service_col_content {
    padding: 70% 1rem 0px;
    padding-right: 0;
}

.service_col_content>img {
    position: absolute;
}

.service_col_content .wheel01 {
    top: -70px;
    width: 100%;
    max-width: 180px;
    left: -20px;
}

.service_col_content .ellipse02 {
    top: 12%;
    width: 100%;
    max-width: 90px;
    right: 3%;
}

#ourServices .service_col_content h2 {
    padding: 1rem 0 2.4rem;
}

#ourServices .service_col_content .service_keypoint {
    border-radius: 15px;
    border: 1.4px dashed #707070;
    padding: 1rem 0.4rem;
    margin-bottom: 1.5rem;
    color: #707070;
}

#ourServices .service_col_content .service_keypoint h6 {
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
}

#ourServices .service_col_content .service_keypoint ul {
    padding: 0;
    margin: 0;
}

#ourServices .service_col_content .service_keypoint ul li {
    padding: 0;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

#ourServices .service_col_content .service_keypoint ul li i {
    margin-right: 0.4rem;
}

.service_content .btn_cover {
    padding: 2rem 0;
}

.btnGetStarted {
    padding: 12px 30px;
    border-radius: 6px;
    display: inline-block;
    color: #fff;
    background: #FA09A7;
    border: 1.5px dashed transparent;
    font-size: 17px;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.btnGetStarted i {
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
    margin-left: 0.3rem;
}

.btnGetStarted:hover {
    color: #FA09A7;
    background: #fff;
    border: 1.5px dashed #FA09A7;
}

.btnGetStarted:hover i {
    margin-left: 0.6rem;
}


/* OUR SERVICES Ends */


/* Quality Work Starts */

#qualityWork {
    padding: 1rem 0;
}

#qualityWork .quality_head h2 {
    color: #FA09A7;
    padding: 1rem 0;
}

#qualityWork .quality_head p {
    color: #707070;
}

#qualityWork #v-pills-tab_category {
    margin-top: 1rem;
    padding: 2rem 3rem;
    background: #fff;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 15px 30px 0 rgb(142 142 142 / 42%);
    position: absolute;
    border-left: 3px solid #7070706e;
}

#qualityWork #v-pills-tab_category .nav-link {
    color: #707070;
    border: 1.5px dashed #fff;
}

#qualityWork #v-pills-tab_category .nav-link.active,
#qualityWork #v-pills-tab_category .show>.nav-link {
    color: #FA09A7;
    background-color: #fff;
    width: 100%;
    max-width: 190px;
    font-weight: 600;
    border: 1.5px dashed #FA09A7;
}

#qualityWork .quality_work_slider {
    margin: 0 auto;
}

#qualityWork .quality_work_slider .carousel-inner {
    min-height: 570px;
}

#qualityWork .quality_work_slider .carousel-item {
    width: 100%;
    height: 400px !important;
    margin: 2rem 0;
}

#qualityWork .quality_work_slider .carousel-control-next-icon {
    background-image: url(../img/arrow_next.png);
    margin-left: 50px;
    transition: all 0.2s ease-in;
}

#qualityWork .quality_work_slider .carousel-control-next:hover .carousel-control-next-icon {
    margin-left: 70px;
}

#qualityWork .quality_work_slider .carousel-control-prev-icon {
    background-image: url(../img/arrow_prev.png);
    margin-right: 50px;
    transition: all 0.2s ease-in;
}

#qualityWork .quality_work_slider .carousel-control-prev:hover .carousel-control-prev-icon {
    margin-right: 70px;
}

#qualityWork .quality_work_slider .carousel-item img {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    justify-content: center;
    object-fit: contain;
    height: 100%;
    box-shadow: 0 15px 30px 0 rgb(142 142 142 / 42%);
    border-radius: 15px;
    min-height: 470px;
}


/* Quality Work Ends */


/* See More Work Starts */

#seeMoreWork {
    padding: 0.3rem 0;
}

#seeMoreWork #v-pills-tabContent {
    margin-top: 6rem;
}

#seeMoreWork .quality_head {
    position: relative;
    min-height: 80px;
}

#seeMoreWork .quality_head h2 {
    color: #FA09A7;
    padding: 1rem 0;
    width: 128%;
    max-width: 523px !important;
    padding: 1rem 0;
    z-index: 6;
    position: absolute;
}

#seeMoreWork .quality_head p {
    color: #707070;
}

#seeMoreWork #v-pills-tab_seeMoreWork {
    margin-top: 1rem;
    padding: 2rem 0;
    position: sticky;
    top: 115px;
    z-index: 6;
}

#seeMoreWork #v-pills-tab_seeMoreWork .nav-link {
    color: #fa09a7;
    font-weight: 600;
    padding: 0.7rem 1rem;
    margin-bottom: 0.8rem;
}

#seeMoreWork #v-pills-tab_seeMoreWork .nav-link.active,
#seeMoreWork #v-pills-tab_seeMoreWork .show>.nav-link {
    background: #FA09A7;
    color: #fff;
    width: 100%;
    max-width: 190px;
    font-weight: 600;
    position: relative;
    border-radius: 6px;
}

#seeMoreWork #v-pills-tab_seeMoreWork .nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    vertical-align: middle;
    top: 8px;
    right: -13px;
    border-left: 14px solid #fa09a7;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    height: 20px;
    transition: all 0.3s ease-in-out;
}

#seeMoreWork .my-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#seeMoreWork .my-column {
    -ms-flex: 33.30%;
    flex: 33.30%;
    max-width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

#seeMoreWork .my-column img {
    margin: 1rem 0;
    border-radius: 12px;
    box-shadow: 1px 2px 15px 2px rgb(0 0 0 / 17%);
    transition: all 0.3s ease;
    width: 100%;
}

#seeMoreWork .my-column img:hover {
    transform: scale(1.04);
}


/* See More Work Ends */


/* Join Us Starts */

#joinUs {
    padding: 6.5rem 0;
    color: #fff;
    background: #FA09A7;
    text-align: center;
    overflow: hidden!important;
}

#joinUs .joinus_head {
    overflow: hidden!important;
}

#joinUs .joinus_head .wheel01 {
    position: absolute;
    left: -6%;
    top: -4%;
    width: 100%;
    max-width: 175px;
}

#joinUs .joinus_head .ellipse01 {
    position: absolute;
    left: 25%;
    top: 86%;
    opacity: 0.7;
}

#joinUs .joinus_head .ellipse02 {
    position: absolute;
    right: 13%;
    top: -32%;
    width: 100%;
    max-width: 214px;
    opacity: 0.7;
    z-index: 0;
}

#joinUs .joinus_head h1 {
    font-family: Poppins-Bold !important;
    font-size: 42px;
    padding: 1rem 0;
    position: relative;
}

#joinUs .joinus_head p {
    position: relative;
    z-index: 5;
}

#joinUs .btn_cover {
    padding: 2rem 0 0 0;
    position: relative;
    z-index: 9;
}

#joinUs .btn_hireus {
    border: 1.5px dashed #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 0.9rem 3rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 15px 2px rgb(0 0 0 / 17%)
}

#joinUs .btn_hireus i {
    margin-left: 0.6rem;
    transition: all .2s cubic-bezier(.6, 0, .7, 1);
}

#joinUs .btn_hireus:hover i {
    transform: scale(1.3);
}

#joinUs .btnGetfreedemo {
    padding: 0.9rem 2rem;
    border-radius: 6px;
    color: #FA09A7;
    display: inline-block;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 1.5px solid #fff;
    box-shadow: 1px 2px 15px 2px rgb(0 0 0 / 17%);
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

#joinUs .btnGetfreedemo:hover {
    background: transparent;
    border: 1.5px dashed #fff;
    color: #fff;
}

#joinUs .btnGetfreedemo i {
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

#joinUs .btnGetfreedemo:hover i {
    margin-left: 1rem;
}


/* Join Us Ends */


/* Client Says Starts */

#clientSays {
    position: relative;
    padding: 3rem 0;
    border: 1px solid #ddd;
}

#clientSays .client_head {
    text-align: center;
    color: #FA09A7;
    padding: 1rem 0;
}

.testimonial-carousel .item {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 1.6rem 0rem;
}

.test_item_left {
    margin: 0 auto !important;
    text-align: center;
    justify-content: center;
    display: grid;
}

.test_img_cover {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}

#clientSays .triangle01 {
    position: absolute;
    left: -1%;
    top: 10%;
    width: 100%;
    max-width: 165px;
}

.test_item_left .triangle02 {
    position: absolute;
    bottom: 10px;
    z-index: -1;
    width: 100%;
    right: -12px;
    max-width: 80px;
}

.test_img_cover img {
    display: block;
    width: 100%;
    height: 130px;
    object-fit: cover;
    max-width: 130px;
    border-radius: 50%;
    border: 5px solid #DDD;
}

.client_details {
    display: inline-block;
    padding: 0 0.6rem;
}

.client_details .client_name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #FA09A7;
    font-weight: 600;
    font-size: 17px;
}

.client_details .client_desig {
    color: #828282;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.testimonial_content {
    padding: 1rem;
    margin-top: 1.2rem;
    position: relative;
    overflow: hidden;
    border-radius: 0 30px;
}

.testimonial_content i {
    font-size: 35px;
    position: relative;
    opacity: 0.7;
    color: #707070;
}

.more {
    float: right;
}

.more a {
    color: #fff;
    background: #fa09a7;
    border-radius: 51px;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 8px 17px 0 rgb(41 41 41 / 26%);
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.more i {
    font-size: 22px;
    color: #fff;
    opacity: 1;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.more a:hover i {
    transform: rotate(360deg);
}

.test_parah {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    color: #707070;
}


/* Client Says Ends */


/* Footer Starts */

#footer {
    position: relative;
    padding: 5rem 0 1rem 0;
    background: #FA09A7;
    color: #fff;
}

#footer .set-col.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
}

.footer_head {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom: 2.3rem;
}

#footer ul {
    padding-left: 0;
}

#footer li {
    list-style-type: none;
    padding-left: 0;
}

#footer img.logo_footer {
    width: 100%;
    max-width: 100px;
    margin-top: -35px;
}

#footer .footer_address i {
    margin-right: 0.5rem;
}

.footer_address {
    width: 100%;
    max-width: 230px;
    margin: 0;
}

.social_footer .social_item {
    display: inline-block;
    padding: 0 1.3rem 0 0;
    font-size: 22px;
}

.social_footer .social_item a i {
    color: #fff;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.social_footer .social_item a {
    border-radius: 20px;
    background: #ff77d1;
    padding: 6px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgb(41 41 41 / 40%);
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.social_footer .social_item a:hover i {
    transform: rotate(360deg);
}

.social_footer .social_item a:hover {
    background: #f13a9f8c;
    box-shadow: 0 5px 12px 0 rgb(41 41 41 / 40%);
}

ul.footer_cproducts li {
    padding: 0.2rem 0;
    cursor: pointer;
}

ul.footer_cproducts li i {
    margin-right: 0.4rem;
    transition: all .3s ease;
}

ul.footer_cproducts li a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
}

ul.footer_cproducts li a:hover {
    color: #303030;
    /* margin-left: 0.2rem; */
}

ul.footer_cproducts li:hover i {
    margin-left: 0.2rem;
}

ul.footer_cproducts {
    padding-left: 12px;
}

.contact_footer li i {
    margin-right: 0.4rem;
}

.contact_footer li {
    padding: 0.2rem 0;
}

#footer hr {
    border-top: 1.5px dashed rgb(255 255 255 / 70%);
}

.copyright_box {
    padding: 0.5rem 0;
}

#footer .ellipse02 {
    position: absolute;
    left: 0%;
    top: 41%;
    width: 100%;
    max-width: 180px;
    opacity: 0.7;
}

#footer .ellipse01 {
    position: absolute;
    top: 66%;
    left: 30%;
}

#footer .wheel01 {
    position: absolute;
    right: 20%;
    top: 46%;
    width: 100%;
    max-width: 165px;
}


/* Footer Ends */


/* Animations  Starts */

.dots01 {
    animation: pulse 3s infinite alternate;
}

.dots02 {
    animation: pulse2 3s infinite alternate;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.wheel01 {
    animation: zoom 3s infinite alternate;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}

.ellipse01 {
    animation: flip 3s infinite alternate;
}

.ellipse02 {
    animation: zoomer 7s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateX(100px);
    }
}

@keyframes zoom {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
        transform: scale(1.1);
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(0deg) scale(1);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(0deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) translateZ(0) rotateY(0deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}

@keyframes zoomer {
    0% {
        transform: perspective(400px) translateZ(0px) rotateY(0) scale(1);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1.2);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1.5);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) translateZ(0px) rotateY(0deg) scale(1.2);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) translateZ(0px) rotateY(360deg) scale(1);
        animation-timing-function: ease-in;
    }
}


/* Animations  Ends */